# Introduction

# Read Data

In [2]:
# import packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [7]:
# read in data and check basic info
def read_check_data(file_path):
    data = pd.read_csv(file_path)
    print('Training data shape: ', data.shape)
    print(data.head())
    return data

In [8]:
app_train = read_check_data("./data/application_train.csv")

Training data shape:  (307511, 122)
   SK_ID_CURR  TARGET NAME_CONTRACT_TYPE CODE_GENDER FLAG_OWN_CAR  \
0      100002       1         Cash loans           M            N
1      100003       0         Cash loans           F            N
2      100004       0    Revolving loans           M            Y
3      100006       0         Cash loans           F            N
4      100007       0         Cash loans           M            N

  FLAG_OWN_REALTY  CNT_CHILDREN  AMT_INCOME_TOTAL  AMT_CREDIT  AMT_ANNUITY  \
0               Y             0          202500.0    406597.5      24700.5
1               N             0          270000.0   1293502.5      35698.5
2               Y             0           67500.0    135000.0       6750.0
3               Y             0          135000.0    312682.5      29686.5
4               Y             0          121500.0    513000.0      21865.5

              ...              FLAG_DOCUMENT_18 FLAG_DOCUMENT_19  \
0             ...                             0                0
1             ...                             0                0
2             ...                             0                0
3             ...                             0                0
4             ...                             0                0

  FLAG_DOCUMENT_20 FLAG_DOCUMENT_21 AMT_REQ_CREDIT_BUREAU_HOUR  \
0                0                0                        0.0
1                0                0                        0.0
2                0                0                        0.0
3                0                0                        NaN
4                0                0                        0.0

  AMT_REQ_CREDIT_BUREAU_DAY  AMT_REQ_CREDIT_BUREAU_WEEK  \
0                       0.0                         0.0
1                       0.0                         0.0
2                       0.0                         0.0
3                       NaN                         NaN
4                       0.0                         0.0

   AMT_REQ_CREDIT_BUREAU_MON  AMT_REQ_CREDIT_BUREAU_QRT  \
0                        0.0                        0.0
1                        0.0                        0.0
2                        0.0                        0.0
3                        NaN                        NaN
4                        0.0                        0.0

   AMT_REQ_CREDIT_BUREAU_YEAR
0                         1.0
1                         0.0
2                         0.0
3                         NaN
4                         0.0

[5 rows x 122 columns]

In [9]:
POS_CASH_balance = read_check_data("./data/POS_CASH_balance.csv")

Training data shape:  (10001358, 8)
   SK_ID_PREV  SK_ID_CURR  MONTHS_BALANCE  CNT_INSTALMENT  \
0     1803195      182943             -31            48.0
1     1715348      367990             -33            36.0
2     1784872      397406             -32            12.0
3     1903291      269225             -35            48.0
4     2341044      334279             -35            36.0

   CNT_INSTALMENT_FUTURE NAME_CONTRACT_STATUS  SK_DPD  SK_DPD_DEF
0                   45.0               Active       0           0
1                   35.0               Active       0           0
2                    9.0               Active       0           0
3                   42.0               Active       0           0
4                   35.0               Active       0           0

In [11]:
bureau_balance = read_check_data("./data/bureau_balance.csv")

Training data shape:  (27299925, 3)
   SK_ID_BUREAU  MONTHS_BALANCE STATUS
0       5715448               0      C
1       5715448              -1      C
2       5715448              -2      C
3       5715448              -3      C
4       5715448              -4      C

In [13]:
previous_application = read_check_data("./data/previous_application.csv")

Training data shape:  (1670214, 37)
   SK_ID_PREV  SK_ID_CURR NAME_CONTRACT_TYPE  AMT_ANNUITY  AMT_APPLICATION  \
0     2030495      271877     Consumer loans     1730.430          17145.0
1     2802425      108129         Cash loans    25188.615         607500.0
2     2523466      122040         Cash loans    15060.735         112500.0
3     2819243      176158         Cash loans    47041.335         450000.0
4     1784265      202054         Cash loans    31924.395         337500.0

   AMT_CREDIT  AMT_DOWN_PAYMENT  AMT_GOODS_PRICE WEEKDAY_APPR_PROCESS_START  \
0     17145.0               0.0          17145.0                   SATURDAY
1    679671.0               NaN         607500.0                   THURSDAY
2    136444.5               NaN         112500.0                    TUESDAY
3    470790.0               NaN         450000.0                     MONDAY
4    404055.0               NaN         337500.0                   THURSDAY

   HOUR_APPR_PROCESS_START            ...            NAME_SELLER_INDUSTRY  \
0                       15            ...                    Connectivity
1                       11            ...                             XNA
2                       11            ...                             XNA
3                        7            ...                             XNA
4                        9            ...                             XNA

   CNT_PAYMENT  NAME_YIELD_GROUP       PRODUCT_COMBINATION  \
0         12.0            middle  POS mobile with interest
1         36.0        low_action          Cash X-Sell: low
2         12.0              high         Cash X-Sell: high
3         12.0            middle       Cash X-Sell: middle
4         24.0              high         Cash Street: high

   DAYS_FIRST_DRAWING DAYS_FIRST_DUE DAYS_LAST_DUE_1ST_VERSION  DAYS_LAST_DUE  \
0            365243.0          -42.0                     300.0          -42.0
1            365243.0         -134.0                     916.0       365243.0
2            365243.0         -271.0                      59.0       365243.0
3            365243.0         -482.0                    -152.0         -182.0
4                 NaN            NaN                       NaN            NaN

  DAYS_TERMINATION NFLAG_INSURED_ON_APPROVAL
0            -37.0                       0.0
1         365243.0                       1.0
2         365243.0                       1.0
3           -177.0                       1.0
4              NaN                       NaN

[5 rows x 37 columns]

In [14]:
credit_card_balance = read_check_data("./data/previous_application.csv")

Training data shape:  (1670214, 37)
   SK_ID_PREV  SK_ID_CURR NAME_CONTRACT_TYPE  AMT_ANNUITY  AMT_APPLICATION  \
0     2030495      271877     Consumer loans     1730.430          17145.0
1     2802425      108129         Cash loans    25188.615         607500.0
2     2523466      122040         Cash loans    15060.735         112500.0
3     2819243      176158         Cash loans    47041.335         450000.0
4     1784265      202054         Cash loans    31924.395         337500.0

   AMT_CREDIT  AMT_DOWN_PAYMENT  AMT_GOODS_PRICE WEEKDAY_APPR_PROCESS_START  \
0     17145.0               0.0          17145.0                   SATURDAY
1    679671.0               NaN         607500.0                   THURSDAY
2    136444.5               NaN         112500.0                    TUESDAY
3    470790.0               NaN         450000.0                     MONDAY
4    404055.0               NaN         337500.0                   THURSDAY

   HOUR_APPR_PROCESS_START            ...            NAME_SELLER_INDUSTRY  \
0                       15            ...                    Connectivity
1                       11            ...                             XNA
2                       11            ...                             XNA
3                        7            ...                             XNA
4                        9            ...                             XNA

   CNT_PAYMENT  NAME_YIELD_GROUP       PRODUCT_COMBINATION  \
0         12.0            middle  POS mobile with interest
1         36.0        low_action          Cash X-Sell: low
2         12.0              high         Cash X-Sell: high
3         12.0            middle       Cash X-Sell: middle
4         24.0              high         Cash Street: high

   DAYS_FIRST_DRAWING DAYS_FIRST_DUE DAYS_LAST_DUE_1ST_VERSION  DAYS_LAST_DUE  \
0            365243.0          -42.0                     300.0          -42.0
1            365243.0         -134.0                     916.0       365243.0
2            365243.0         -271.0                      59.0       365243.0
3            365243.0         -482.0                    -152.0         -182.0
4                 NaN            NaN                       NaN            NaN

  DAYS_TERMINATION NFLAG_INSURED_ON_APPROVAL
0            -37.0                       0.0
1         365243.0                       1.0
2         365243.0                       1.0
3           -177.0                       1.0
4              NaN                       NaN

[5 rows x 37 columns]

In [16]:
bureau = read_check_data("./data/bureau.csv")

Training data shape:  (1716428, 17)
   SK_ID_CURR  SK_ID_BUREAU CREDIT_ACTIVE CREDIT_CURRENCY  DAYS_CREDIT  \
0      215354       5714462        Closed      currency 1         -497
1      215354       5714463        Active      currency 1         -208
2      215354       5714464        Active      currency 1         -203
3      215354       5714465        Active      currency 1         -203
4      215354       5714466        Active      currency 1         -629

   CREDIT_DAY_OVERDUE  DAYS_CREDIT_ENDDATE  DAYS_ENDDATE_FACT  \
0                   0               -153.0             -153.0
1                   0               1075.0                NaN
2                   0                528.0                NaN
3                   0                  NaN                NaN
4                   0               1197.0                NaN

   AMT_CREDIT_MAX_OVERDUE  CNT_CREDIT_PROLONG  AMT_CREDIT_SUM  \
0                     NaN                   0         91323.0
1                     NaN                   0        225000.0
2                     NaN                   0        464323.5
3                     NaN                   0         90000.0
4                 77674.5                   0       2700000.0

   AMT_CREDIT_SUM_DEBT  AMT_CREDIT_SUM_LIMIT  AMT_CREDIT_SUM_OVERDUE  \
0                  0.0                   NaN                     0.0
1             171342.0                   NaN                     0.0
2                  NaN                   NaN                     0.0
3                  NaN                   NaN                     0.0
4                  NaN                   NaN                     0.0

       CREDIT_TYPE  DAYS_CREDIT_UPDATE  AMT_ANNUITY
0  Consumer credit                -131          NaN
1      Credit card                 -20          NaN
2  Consumer credit                 -16          NaN
3      Credit card                 -16          NaN
4  Consumer credit                 -21          NaN

# Check Missing Values

In [32]:
def check_missing(df):
    missing_num = df.isnull().sum().sort_values(ascending = False)
    minssing_percent = (df.isnull().sum()/df.isnull().count()*100).sort_values(ascending = False)
    missing_info  = pd.concat([missing_num, minssing_percent], axis=1, keys=['missing_num', 'minssing_percent'])
    print(missing_info.head())
    return missing_info

In [33]:
# check missing value of app_train
miss_app_train = check_missing(app_train)

                          missing_num  minssing_percent
COMMONAREA_MEDI                214865         69.872297
COMMONAREA_AVG                 214865         69.872297
COMMONAREA_MODE                214865         69.872297
NONLIVINGAPARTMENTS_MODE       213514         69.432963
NONLIVINGAPARTMENTS_MEDI       213514         69.432963

In [34]:
# check missing value of POS_CASH_balance
check_missing(POS_CASH_balance)

                       missing_num  minssing_percent
CNT_INSTALMENT_FUTURE        26087          0.260835
CNT_INSTALMENT               26071          0.260675
SK_DPD_DEF                       0          0.000000
SK_DPD                           0          0.000000
NAME_CONTRACT_STATUS             0          0.000000

                       missing_num  minssing_percent
CNT_INSTALMENT_FUTURE        26087          0.260835
CNT_INSTALMENT               26071          0.260675
SK_DPD_DEF                       0          0.000000
SK_DPD                           0          0.000000
NAME_CONTRACT_STATUS             0          0.000000
MONTHS_BALANCE                   0          0.000000
SK_ID_CURR                       0          0.000000
SK_ID_PREV                       0          0.000000

In [35]:
check_missing(bureau_balance)

                missing_num  minssing_percent
STATUS                    0               0.0
MONTHS_BALANCE            0               0.0
SK_ID_BUREAU              0               0.0

                missing_num  minssing_percent
STATUS                    0               0.0
MONTHS_BALANCE            0               0.0
SK_ID_BUREAU              0               0.0

In [36]:
check_missing(previous_application)

                          missing_num  minssing_percent
RATE_INTEREST_PRIVILEGED      1664263         99.643698
RATE_INTEREST_PRIMARY         1664263         99.643698
RATE_DOWN_PAYMENT              895844         53.636480
AMT_DOWN_PAYMENT               895844         53.636480
NAME_TYPE_SUITE                820405         49.119754

                             missing_num  minssing_percent
RATE_INTEREST_PRIVILEGED         1664263         99.643698
RATE_INTEREST_PRIMARY            1664263         99.643698
RATE_DOWN_PAYMENT                 895844         53.636480
AMT_DOWN_PAYMENT                  895844         53.636480
NAME_TYPE_SUITE                   820405         49.119754
DAYS_TERMINATION                  673065         40.298129
NFLAG_INSURED_ON_APPROVAL         673065         40.298129
DAYS_FIRST_DRAWING                673065         40.298129
DAYS_FIRST_DUE                    673065         40.298129
DAYS_LAST_DUE_1ST_VERSION         673065         40.298129
DAYS_LAST_DUE                     673065         40.298129
AMT_GOODS_PRICE                   385515         23.081773
AMT_ANNUITY                       372235         22.286665
CNT_PAYMENT                       372230         22.286366
PRODUCT_COMBINATION                  346          0.020716
AMT_CREDIT                             1          0.000060
SK_ID_CURR                             0          0.000000
NAME_CONTRACT_TYPE                     0          0.000000
WEEKDAY_APPR_PROCESS_START             0          0.000000
HOUR_APPR_PROCESS_START                0          0.000000
FLAG_LAST_APPL_PER_CONTRACT            0          0.000000
NFLAG_LAST_APPL_IN_DAY                 0          0.000000
AMT_APPLICATION                        0          0.000000
NAME_PAYMENT_TYPE                      0          0.000000
NAME_CASH_LOAN_PURPOSE                 0          0.000000
NAME_CONTRACT_STATUS                   0          0.000000
DAYS_DECISION                          0          0.000000
CODE_REJECT_REASON                     0          0.000000
NAME_CLIENT_TYPE                       0          0.000000
NAME_GOODS_CATEGORY                    0          0.000000
NAME_PORTFOLIO                         0          0.000000
NAME_PRODUCT_TYPE                      0          0.000000
CHANNEL_TYPE                           0          0.000000
SELLERPLACE_AREA                       0          0.000000
NAME_SELLER_INDUSTRY                   0          0.000000
NAME_YIELD_GROUP                       0          0.000000
SK_ID_PREV                             0          0.000000

In [37]:
check_missing(credit_card_balance)

                          missing_num  minssing_percent
RATE_INTEREST_PRIVILEGED      1664263         99.643698
RATE_INTEREST_PRIMARY         1664263         99.643698
RATE_DOWN_PAYMENT              895844         53.636480
AMT_DOWN_PAYMENT               895844         53.636480
NAME_TYPE_SUITE                820405         49.119754

                             missing_num  minssing_percent
RATE_INTEREST_PRIVILEGED         1664263         99.643698
RATE_INTEREST_PRIMARY            1664263         99.643698
RATE_DOWN_PAYMENT                 895844         53.636480
AMT_DOWN_PAYMENT                  895844         53.636480
NAME_TYPE_SUITE                   820405         49.119754
DAYS_TERMINATION                  673065         40.298129
NFLAG_INSURED_ON_APPROVAL         673065         40.298129
DAYS_FIRST_DRAWING                673065         40.298129
DAYS_FIRST_DUE                    673065         40.298129
DAYS_LAST_DUE_1ST_VERSION         673065         40.298129
DAYS_LAST_DUE                     673065         40.298129
AMT_GOODS_PRICE                   385515         23.081773
AMT_ANNUITY                       372235         22.286665
CNT_PAYMENT                       372230         22.286366
PRODUCT_COMBINATION                  346          0.020716
AMT_CREDIT                             1          0.000060
SK_ID_CURR                             0          0.000000
NAME_CONTRACT_TYPE                     0          0.000000
WEEKDAY_APPR_PROCESS_START             0          0.000000
HOUR_APPR_PROCESS_START                0          0.000000
FLAG_LAST_APPL_PER_CONTRACT            0          0.000000
NFLAG_LAST_APPL_IN_DAY                 0          0.000000
AMT_APPLICATION                        0          0.000000
NAME_PAYMENT_TYPE                      0          0.000000
NAME_CASH_LOAN_PURPOSE                 0          0.000000
NAME_CONTRACT_STATUS                   0          0.000000
DAYS_DECISION                          0          0.000000
CODE_REJECT_REASON                     0          0.000000
NAME_CLIENT_TYPE                       0          0.000000
NAME_GOODS_CATEGORY                    0          0.000000
NAME_PORTFOLIO                         0          0.000000
NAME_PRODUCT_TYPE                      0          0.000000
CHANNEL_TYPE                           0          0.000000
SELLERPLACE_AREA                       0          0.000000
NAME_SELLER_INDUSTRY                   0          0.000000
NAME_YIELD_GROUP                       0          0.000000
SK_ID_PREV                             0          0.000000

In [38]:
check_missing(bureau)

                        missing_num  minssing_percent
AMT_ANNUITY                 1226791         71.473490
AMT_CREDIT_MAX_OVERDUE      1124488         65.513264
DAYS_ENDDATE_FACT            633653         36.916958
AMT_CREDIT_SUM_LIMIT         591780         34.477415
AMT_CREDIT_SUM_DEBT          257669         15.011932

                        missing_num  minssing_percent
AMT_ANNUITY                 1226791         71.473490
AMT_CREDIT_MAX_OVERDUE      1124488         65.513264
DAYS_ENDDATE_FACT            633653         36.916958
AMT_CREDIT_SUM_LIMIT         591780         34.477415
AMT_CREDIT_SUM_DEBT          257669         15.011932
DAYS_CREDIT_ENDDATE          105553          6.149573
AMT_CREDIT_SUM                   13          0.000757
CREDIT_TYPE                       0          0.000000
AMT_CREDIT_SUM_OVERDUE            0          0.000000
CNT_CREDIT_PROLONG                0          0.000000
DAYS_CREDIT_UPDATE                0          0.000000
CREDIT_DAY_OVERDUE                0          0.000000
DAYS_CREDIT                       0          0.000000
CREDIT_CURRENCY                   0          0.000000
CREDIT_ACTIVE                     0          0.000000
SK_ID_BUREAU                      0          0.000000
SK_ID_CURR                        0          0.000000

# Check Feature Type

In [43]:
def select_feature_type(df,data_type):
    return df.select_dtypes(include=[data_type])

In [51]:
select_feature_type(app_train,'object').info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307511 entries, 0 to 307510
Data columns (total 16 columns):
NAME_CONTRACT_TYPE            307511 non-null object
CODE_GENDER                   307511 non-null object
FLAG_OWN_CAR                  307511 non-null object
FLAG_OWN_REALTY               307511 non-null object
NAME_TYPE_SUITE               306219 non-null object
NAME_INCOME_TYPE              307511 non-null object
NAME_EDUCATION_TYPE           307511 non-null object
NAME_FAMILY_STATUS            307511 non-null object
NAME_HOUSING_TYPE             307511 non-null object
OCCUPATION_TYPE               211120 non-null object
WEEKDAY_APPR_PROCESS_START    307511 non-null object
ORGANIZATION_TYPE             307511 non-null object
FONDKAPREMONT_MODE            97216 non-null object
HOUSETYPE_MODE                153214 non-null object
WALLSMATERIAL_MODE            151170 non-null object
EMERGENCYSTATE_MODE           161756 non-null object
dtypes: object(16)
memory usage: 37.5+ MB

In [56]:
app_train['CODE_GENDER'].unique()

array(['M', 'F', 'XNA'], dtype=object)

In [48]:
app_train.columns

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0